<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img
            src="https://lh3.googleusercontent.com/QeaGu4INl0YR0Futxg5qvmQaPFIfafJzXcWLYgRuKt65qnN0_b8eKQHChzUWh1mtr3hGJ70LpsEERhYJGrQSnq0SxREUNACglS15kFSLBAbWOCb_dd8zlfGSzq603-iBNz6WHkW76ce4OirgC3sim0C9fXypQTxiLUAsKFyI2omz1xl2cjpO4HcWN5AO8xPDBkXBPsNSdJPr9o5Dy4LT3gQwETWH1fRMQoWoHPoDpuSZKLSSR6HaZFf_Fo1JmoyhxaC-VSlyOZy4miXxspRMjLA4K3VnmV5CdaNIsWfXK86OOUCUzrCkHtaqsCbtNF1QmErj7V-xwJR0fJ3exG7OQfOHgxUZ53DRs95saBJ8FGl9deAA4-NA_n27cPD5nicvEfIQ-ZRyBuz7mTBmwHr0KK4KefjtI4qhRAoc72iksURr4iP5Jr-ujoXM3zitUEKrKwD6lE-mRbueLnosr7UIxZxhnD2Kv8zHbmCgpRBSq0s0x5GSbv402zXdvtVi4p4Y1L_EyVR7cxH-4L6tIco1T6de2WDAKLd0kWzXBLnvL1CMh-o_-iNCMvlJeqWMl_b1udpHvMAn52jdpG9_unuVrBaDxFrD8Owcfztj2J8kUU2Dn5YGmPy2B4M_CVjhF4TyHcQEsV_vQVYoZ92Vwlx_DG3bQjzt-8qbpK_E-Y3F4UsqyaDdegGY7HIbeuybpD_W9fG9-d5V7mHF2EwORT_yxeds=w713-h950-no?authuser=0"
            alt="developer"
            class="img-responsive"
          />
        </div>
        <div class="content">
          <h3 class="title">Sonu Shakya</h3>
          <span class="post">Full Stack Developer</span>
          <span class="" post
            >17 years old, Sonu Shakya hails from Baduan, UP. Ex-student of
            Pragati Wheel School. Currently, doing training to become a Full
            Stack Developer at HyperVerge Academy. Wants to turn all his
            dreams into reality and wants to help people with his skills.
          </span>
          <span class="post pt-2"
            ><strong>
              Quote - "You will face many defeats in life, but never let
              yourself be defeated."</strong
            ></span
          >
          <ul class="social">
            <li>
              <a
                href="https://www.instagram.com/sonushakya9717/"
                class="fa fa-instagram"
              ></a>
            </li>
            <li>
              <a
                href="https://github.com/sonushakya9717"
                class="fa fa-github"
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/sonu-shakya/"
                class="fa fa-linkedin"
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
